body {
  background-color: #080724;
  background-color: #080724;
  background-color: #EBE9E9;
  color: #000;
  color: #EBE9E9;
  color: rgb(4, 81, 180);
  color: #111D4A;
  color: rgb(7, 0, 100);
}

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Open Sans', sans-serif;
  /* color: rgb(218, 82, 9);
  color: rgb(214, 101, 40); */
}

h3 {
  padding-bottom: 10px;
}
.App-logo-container {
  flex: 1;
  /* animation: App-logo-spin infinite 5s linear; */
  height: 80px;
  background: rgb(4, 81, 180);
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 80px;
  background: green
}

.profile {
  border-radius: 50%;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { 
    transform: rotate(0deg) translateX(0);
    transform-origin: calc(50% + 0px) 50% 0;
  }
  50% { 
    transform: rotate(1000deg) translateX(200px);
    transform-origin: calc(50% + 200px) 50% 0;
  }
  to { 
    transform: rotate(0deg) translateX(0);
    transform-origin: calc(50% + 0px) 50% 0;
  }
}